<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Defense in depth: redact 'apiKey=...' from any log line. -->
    <turboFilter class="com.mariaalpha.apigateway.security.ApiKeyRedactingTurboFilter"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>